body {
    text-align: center;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
}

h1 {

    width: 650px;
    padding: 20px;
    border: dashed 5px mediumslateblue;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

p {
    border: solid 2px coral;
    width: 550px;
    margin: 10px 500px;
    padding: 50px;
}

ol {
    text-decoration: underline red;
    border: solid 2px gold;
    margin: 20px 500px;
    padding: 50px;
    width: 550px;
    text-align: left;
}

ul {
    text-decoration: underline red;
    border: solid 2px gold;
    margin: 20px 500px;
    padding: 50px;
    width: 550px;
    text-align: left;
}

h2 {
    width: 650px;
    padding: 30px;
    border: solid 1px mediumslateblue;
    border-radius: 20px;
    box-shadow: 2px 2px 6px -2px black;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    width: 650px;
    padding: 20px;
    border: double 5px mediumslateblue;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}